/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****************************
    Custom Initilize
**************************** */

*, *::before, *::after {
    box-sizing: border-box;
}

p {
    width: fit-content;
}

button {
    border-style: solid;
}


/* ****************************
    Global variable
**************************** */ 

$max-background-width: 1350px;

$base-color: rgb(252, 248, 241);
$point-color: rgb(240, 79, 35);
$translucent-point-color: rgba(240, 79, 35, 0.45);
$half-white-color: rgba(255, 255, 255, 0.5);
$of-white-color: rgb(229, 231, 235);
$of-point-color: rgb(249, 185, 167);
$gray-color: rgb(119, 119, 119);

/* ****************************
    Global Mixin
**************************** */ 

/* ****************************
    Global Extend
**************************** */ 

// Layout
%flex-col-all-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%general-section-padding-left {
    padding-left: 58px;
}

%general-section-padding-top {
    padding-top: 130px;
}

// Background
%background-image-no-repeat-center-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%unique-transcription-post {
    width: calc((100% / 3));
    max-width: 380px;
    height: 280px;
}

// Button
%button-general-padding {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

%btn-ghost-point {
    background-color: transparent;
    color: $point-color;
    border-color: $point-color;
    border-width: thin;
    border-radius: 2px;
}

%btn-ghost-point:hover {
    cursor: pointer;
    background-color: $point-color;
    color: $base-color;
    transition: 0.5s
}

%btn-solid-point {
    background-color: $point-color;
    color: white;
    border-color: transparent;
    border-width: thin;
}

%btn-solid-point:hover {
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    border-color: white;
}

%small-btn-text {
    font-size:13px;
    letter-spacing: 1px;
}

/* ****************************
    JS 가 통제하는 class 
**************************** */ 

.active {
    opacity: 1;
}

/* ****************************
    Utility class 
**************************** */ 

.mobile-only-view {
    display: none;
}

.horizon-block-area {
    height: 75px;
}

.horizon-block-half {
    height: 100%;
    width: 50%;
}

.basic-color-area {
    background-color: $of-white-color;
}

.point-color-area {
    background-color: $point-color;
}

.general-section-title-text {
    font-size: 50px;
    font-weight: 700;
}

.text-bold {
    font-weight: bold;
}

/* ****************************
    Header, Footer
**************************** */
.header {
    position: fixed;

    width: 100%;

    background-color: $base-color;
    color: $point-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px;
    padding-left: 30px;
    padding-right: 25px;
}

.header-left-area {
    display: flex;
    align-items: center;

}

.main-menu-list-wrapper {
    display: flex;
    gap: 80px;
    margin-left: 40px;
}

.main-menu-wrapper {
    cursor: pointer;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.bind-menu {
    position: relative;
}

.sub-menu-wrapper {
    position: absolute;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;


    top: 30px;
    left: 0;
    right: 0;


    background-color: white;
    width: 180px;
    box-shadow: 1px 1px 15px -10px rgb(192, 192, 192);
}

.sub-menu-wrapper.smooth-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0s linear 0s;
}

.sub-menu-unit {
    padding: 18px;
    padding-left: 25px;
}

.sub-menu-unit:hover {
    background-color: $point-color;
    transition: 0.4s;
    color: white;
}

.user-manu-wrapper {
    display: flex;
    gap: 35px
}

.footer {
    height: 150px;
    background-color: $point-color;
}

.footer-company-info-wrapper {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* ****************************
    Layout
**************************** */
.background {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    background-color: $base-color;
}

.slogen-wrapper {
    @extend %flex-col-all-center;
    color: white;
    @extend %background-image-no-repeat-center-cover;
    height: 600px;
    gap: 35px;
    padding-bottom: 50px;
    background-image: url("https://cdn.imweb.me/thumbnail/20240403/d92a764be527d.jpg");
}

.slogen-title-text-wrapper {
    @extend %flex-col-all-center;
    gap: 15px;
}

.slogen-title-text-wrapper {
    @extend %flex-col-all-center;
    gap: 15px;
}

.slogen-detail-text-wrapper {
    @extend %flex-col-all-center;
    gap: 10px;
}

.community-guide-wrapper {
    @extend %flex-col-all-center;
    height: 375px;
}

.community-guide-detail-wrapper {
    @extend %flex-col-all-center;
    margin-top: 15px;
    gap: 10px;
}

.community-button-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.recommend-book-wrapper {
    @extend %flex-col-all-center;
    height: 1275px;
    background-color: $point-color;
}

.recommend-book-guide-wrapper {
    @extend %flex-col-all-center;
    color: white;
}

.recommend-book-guide-title-wrapper {
    margin-top: 40px;
}

.recommend-book-story-text-wrapper {
    display: flex;
    width:100%;
    max-width: 620px;
    display: flex;
    gap: 30px;
}

.recommend-book-story-text {
    color: $of-point-color;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.recommend-book-list-slider {
    display: flex;
    height: 35%;
    margin-bottom: 75px;
}

.recommend-book-title-and-author-kr-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 42px;
}


.unique-transcription-wrapper {
    @extend %flex-col-all-center;
    height: 900px;
}

.relay-board-open-notice {
    @extend %background-image-no-repeat-center-cover;
    height: 600px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('https://cdn.imweb.me/thumbnail/20240326/0097dcac1308f.jpg');
}

.relay-board {
    @extend %flex-col-all-center;
    height: 925px;
    padding-bottom: 150px;
}

.relay-board-guide {
    @extend %general-section-padding-left;
    @extend %general-section-padding-top;
    color: white;
}

.relay-board-description-text {
    color: $point-color;
}

.relay-board-post-list {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:30px
}

.relay-board-post-inner-book-info-wrapper {
    @extend %flex-col-all-center;
    margin-top: 50px;
}


.reading-discussion-wrapper {
    @extend %general-section-padding-left;
    @extend %background-image-no-repeat-center-cover;
    height: 470px;
    padding-top: 130px;
    background-image: url('https://cdn.imweb.me/thumbnail/20240325/adfa938ff7cda.jpg');
}


.unique-transcription-post-list {
    display: flex;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    gap: 20px
}

.unique-transcription-post-img-1 {
    @extend %background-image-no-repeat-center-cover;
    @extend %unique-transcription-post; 
    background-image: url("https://cdn.imweb.me/thumbnail/20240326/afe08fe1a7b12.jpg");
}

.unique-transcription-post-img-2 {
    @extend %background-image-no-repeat-center-cover;
    @extend %unique-transcription-post; 
    background-image: url("https://cdn.imweb.me/thumbnail/20240326/c9abd8c709ebd.jpg");
}

.unique-transcription-post-img-3 {
    @extend %background-image-no-repeat-center-cover;
    @extend %unique-transcription-post; 
    background-image: url("https://cdn.imweb.me/thumbnail/20240326/c6708b5a1e03c.jpg");
}

.reading-discussion-title-wrapper {
    margin-bottom: 35px;
}


.reading-discussion-arrow-wrapper {
    display: grid;
    grid-template-columns: 1fr 180px;
    padding-top: 25px;
}

.recommend-book-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommend-book-description-wrapper {
    width: 70%;
    padding: 85px;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.recommend-book-list-unit-wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

.recommend-book-unit-title-and-author-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.relay-board-guide-title-wrapper {
    margin-top:15px;
    margin-bottom: 30px;
}


.relay-board-guide-link-button-wrapper {
    margin-top: 80px;
}


.unique-transcription-description-wrapper {
    margin-top: 35px;
    margin-bottom: 40px;
}

.unique-transcription-link-button-wrapper {
    margin-top: 30px;
    margin-bottom: 65px;
}

.relay-board-description-wrapper {
    margin-bottom: 40px;
}

.relay-board-link-button-wrapper {
    margin-top: 28px;
    margin-bottom: 75px;
}

.recommend-book-content-wrapper {
    height: 500px;
    width: 100%;
    max-width: $max-background-width;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recommend-book-link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    width: 30%;
    max-width: 370px;
}

.unique-transcription-post-img-warpper {
    width: 380px;
    height: 280px;

}

.relay-board-post {
    width: 20%;
    max-width: 290px;
    height: 380px;
    padding: 25px;
    padding-top: 45px;
    background-color: $half-white-color;
} 

.translucent-point-color-bg {
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: 0.3s;
    background:
        linear-gradient($translucent-point-color, $translucent-point-color);

    display: flex;
    align-items: flex-end;
}

.translucent-point-color-bg:hover {
    cursor: pointer;
    opacity: 100%;
    transition: 0.3s;
}



/* ****************************
    Text
**************************** */ 

.company-name-text {
    cursor: pointer;
    font-size: 35px;
    letter-spacing: 8px;
}

.user-manu-text {
    cursor: pointer;
    font-size:14px;
}

.recommend-book-guide-text {
    color: white;
    font-weight: 300;
}

.sub-menu-text {
    font-size: 14px;
    /* font-weight: 300; */
}

.slogen-title-text {
    font-size: 60px;
}

.slogen-detail-text {
    font-size: 17.5px;
    font-weight: 300;
}

.community-guide-title-text {
    color: $point-color;
    font-size: 40px;
    font-weight:330;
    margin: 10px;
    margin-top:60px
}

.community-guide-detail-text {
    font-weight: 300;
}


.recommend-book-guide-title-text {
    font-size: 47px
}

.recommend-book-guide-text {
    font-weight: 300;
}

.recommend-book-title-text {
    color: $point-color;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: $base-color;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}



.recommend-book-title-kr-text {
    font-size:20px
}

.recommend-book-author-kr-text {
    font-size: 17px;
}



.recommend-book-title {
    color:$base-color;
}

.recommend-book-author {
    font-size: 15px;
    color: $of-point-color;
}

.relay-board-guide-subtitle-text {
    color: $of-white-color;
    font-size: 20px;
}

.relay-board-guide-title-text {
    font-size: 60px;
    /* font-weight: 300; */
    line-height: 80px;
}

.relay-board-guide-description-text {
    color: $of-white-color;
    font-weight: 300;
    line-height: 25px;
}

.relay-board-post-story-text {
    color: $point-color;
    line-height: 24px;
}

.relay-board-post-book-name {
    font-weight: 600;
    margin-top: 8px;
    font-size: 15px;
    color: $gray-color;
}

.relay-board-post-author-name {
    color: $gray-color;
    font-size: 14px;
    text-align: center;
}

.reading-discussion-title-text {
    color: $base-color;
    font-size: 47px;
    line-height: 50px;
}

.reading-discussion-description-text {
    color: $base-color;
    font-size: 18px
}

.community-guide-button-text {
    font-size: 16px;
    
}

.unique-transcription-description-text {
    color: $point-color;
}

.unique-transcription-post-overlay-text {
    color: white;
    padding: 20px;
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
}



.footer-company-info-text {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

/* ****************************
    Button
**************************** */ 
.community-guide-button {
    @extend %btn-ghost-point;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.relay-board-guide-link-button {
    @extend %button-general-padding;
    @extend %btn-solid-point;
    font-size: 15px;
    font-weight: 300;
}

.unique-transcription-link-button {
    @extend %button-general-padding;
    @extend %btn-ghost-point;
    @extend %small-btn-text;
}

.relay-board-link-button {
    @extend %button-general-padding;
    @extend %btn-ghost-point;
    @extend %small-btn-text;
}

/* ****************************
    IMG
**************************** */ 
.recommend-book-list-img {
    width: 225px;
}

.recommend-book-img {
    width: 100%;
    height: auto;
}

.unique-transcription-icon {
    height: 49px;
}

.relay-board-post-img {
    height: 65px;

}

.reading-discussion-arrow-img {
    width: 90px;
    cursor: pointer;
}

@media (min-width:320px) and (max-width: 960px) { 
    /* ****************************
        Utility class 
    **************************** */ 
    .mobile-only-view {
        display: block;
    }

    .pc-only-view {
        display: none;
    }

    /* ****************************
        Global Extend
    **************************** */ 
    %general-section-padding-left {
        padding-left: 15px;
    }

    %general-section-padding-top {
        padding-top: 60px;
    }

    %unique-transcription-post {
        height: 110px;
    }

    %small-btn-text {
        font-size: 12px
    }

    /* ****************************
        Header, Footer
    **************************** */
    .mobile-header {
        width: 100%;
        height: 50px;

        background-color: $base-color;
        color: $point-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: 10px;
        padding-right: 10px;
    }

    .company-name-wrapper {
        padding-top: 5px;
    }

    .community-guide-title-wrapper {
        width: 240px;
    }

    .footer-company-info-wrapper {
        padding-top: 30px;
        padding-left: 14px;
    }

    /* ****************************
        Layout
    **************************** */
    .horizon-block-area {
        height: 25px;
    }

    .slogen-wrapper {
        height: 330px;
        background-image: url("https://cdn.imweb.me/thumbnail/20240403/51d643077bbf7.jpg");
        align-items: flex-start;
        padding-left: 15px;
        padding-top: 10px;
    }

    .slogen-title-text-wrapper {
        align-items: flex-start;
        gap: 5px;
    }

    .slogen-detail-text-wrapper {
        margin-top: 13px;
        align-items: flex-start;
        gap: 7px;
    }

    .community-guide-wrapper {
        height: 260px;
        padding-bottom: 30px;
    }

    .community-guide-detail-wrapper {
        margin: 1px;
        margin-top: 10px;
        gap: 5px;
    }

    .community-button-wrapper {
        margin-top: 15px;
    }

    .recommend-book-wrapper {
        width: 100%;
        height: 1100px;
        display: flex;
        align-items: center;
    }

    .recommend-book-guide-title-wrapper {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .recommend-book-list-slider {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .unique-transcription-wrapper {
        height: 515px;
    }

    .relay-board-open-notice {
        height: 340px;
        background:
            url('https://cdn.imweb.me/thumbnail/20240402/db19d0a155787.jpg');

        background-size: 750px;
        background-position-y: -50px;
    }

    .relay-board {
        height: 1470px;
        padding-bottom: 70px;
    }

    .relay-board-post-list {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .relay-board-post-inner-book-info-wrapper {
        margin-top: 25px;
    }

    .unique-transcription-post-list {
        gap: 7px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .unique-transcription-post-img-1 {
        background-image: url("https://cdn.imweb.me/thumbnail/20240326/afe08fe1a7b12.jpg");
    }

    .unique-transcription-post-img-2 {
        background-image: url("https://cdn.imweb.me/thumbnail/20240326/c9abd8c709ebd.jpg");
    }

    .unique-transcription-post-img-3 {
        background-image: url("https://cdn.imweb.me/thumbnail/20240326/c6708b5a1e03c.jpg");
    }

    .reading-discussion-wrapper {
        width: 100%;
        height: 290px;
        padding-top: 50px;
        background-image: url('https://cdn.imweb.me/thumbnail/20240402/f5148c97f43eb.jpg');
    }

    .reading-discussion-title-wrapper {
        margin-bottom: 20px;
    }

    .reading-discussion-arrow-wrapper {
        grid-template-columns: 1fr 90px;
        padding-top: 60px;
    }

    .recommend-book-content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recommend-book-title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .recommend-book-story-text-mobile-wrapper {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .recommend-book-description-wrapper {
        width: 100%;
        gap: 0px;
        padding: 0;
        margin-top: 40px;
    }
 
    .recommend-book-title-and-author-kr-wrapper {
        align-items: center;
        gap: 0;
        margin-top: 20px;
    }

    .recommend-book-link-wrapper {
        width: 200px;
        margin-top: 25px;
        margin-bottom: 45px;
    }

    .recommend-book-list-unit-wrapper {
        margin-left: 3px;
        margin-right: 3px;
    } 

    .recommend-book-unit-title-and-author-wrapper {
        margin-top: 10px;
    }

    .relay-board-guide-title-wrapper {
        margin-top: 8px;
        margin-bottom: 15px;
    }

    .relay-board-guide-link-button-wrapper {
        margin-top: 30px;
    }

    .unique-transcription-description-wrapper {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .unique-transcription-link-button-wrapper {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .relay-board-post {
        width: 100%;
        max-width: 100%;
        height: 260px;
        padding: 20px;
    }

    .relay-board-description-wrapper {
        margin-bottom: 20px;
    }

    .relay-board-link-button-wrapper {
        margin-top: 15px;
        margin-bottom: 35px;
    }

    /* ****************************
        Text
    **************************** */ 

    .company-name-text {
        font-size: 22px;
        letter-spacing: 3px;
    }

    .recommend-book-story-text {
        font-size: 13px;
        font-weight: 300;
        width: 100%;
    }

        .general-section-title-text {
        font-size: 26px;
        font-weight: 600;
    }

    


    .slogen-title-text {
        font-size: 30px;
    }

    .slogen-title-text > p {
        margin: 0;
    }

    .slogen-detail-text {
        font-size: 14px;
        
    }

    .community-guide-title-text {
        font-size: 27px;
        text-align: center;
    }

    .community-guide-detail-text {
        font-size: 14px;
    }   
    
    

    .recommend-book-guide-text {
        font-size: 14px;
        font-weight: 400;
    }

    .mobile-text-bold-no-apply {
        font-weight: 400;
    }

    .recommend-book-guide-title-text {
        font-size:27px;
    }

    .recommend-book-title-text {
        font-size: 25px;
        letter-spacing: 1px;
        margin: 0px;
        padding-left: 7px;
        padding-right: 7px;
        text-transform: uppercase;
    }
    
    .recommend-book-title-kr-text, .recommend-book-author-kr-text {
        font-size: 15px;
    }

    .recommend-book-title {
        font-size: 13px;
        line-height: 18px;
    }

    .recommend-book-author {
        font-size: 12px
    }

    .relay-board-guide-subtitle-text {
        font-size: 17px;
    }

    .relay-board-guide-title-text {
        font-size: 27px;
        line-height: 37px;
    }

    .relay-board-guide-description-text {
        font-size: 13px;
    }

    .unique-transcription-description-text {
        font-size: 14px;
    }

    .relay-board-description-text {
        font-size: 14px;
    }

    .relay-board-post-story-text {
        font-size: 14px;
        text-align: center;
    }

    .relay-board-post-book-name {
        font-size: 12px;
    }

    .relay-board-post-author-name {
        font-size: 11px;
    }

    .reading-discussion-title-text {
        font-size: 25px;
        line-height: 30px;
    }

    .reading-discussion-description-text {
        font-size: 12px;
    }

    /* ****************************
        Button
    **************************** */ 

    .community-guide-button {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .community-guide-button-text {
        font-size: 13px;
        width: 100%;
    }

    .relay-board-guide-link-button {
        font-size: 12px;
    }

    

    .button-general-padding {
        padding-top: 12px;
        padding-bottom: 12px;
    } 

    /* ****************************
        IMG
    **************************** */ 
    .recommend-book-list-img {
        width: 180px;
    }

    .unique-transcription-icon {
        height: 40px;
    }             

    .relay-board-post-img {
        height: 85px;
    }

    .reading-discussion-arrow-img {
        width: 60px;
    }

    /* ****************************
        SVG
    **************************** */ 
    .menu-side-bar-opener-btn {
        width: 25px;
    }

    .page-search-btn {
        width: 20px;
    }

    /* ****************************
        ETC
    **************************** */ 

    .hr-between-unique-tr-relay-board {
        width: 93%;
        height: 1px;
        border: 0;
        background-color: $point-color;
        size: 1px
    }

 }