







/* .parent-menu:hover ~ .sub-menu-wrapper {
    opacity: 1;
    transition: 0.3s;
} */



/* .sub-menu-wrapper:hover {
    opacity: 1;
} */




/* .recommend-book-story-text-mobile-wrapper {
    display: none;
} */

/*
    버튼
*/

/*
    버튼 사이즈, 폰트 사이즈
*/






/*
    버튼 디자인
*/



/********************
******* 텍스트 *******
******************** */









/* 배경 이미지 */


/**/













/* IMG */







/*
#######################################
#######################################         Mobile
#######################################
*/



@media (min-width:320px) and (max-width: 960px) {     
    
    

    

    

    
    

    

    

    

    





    /* Button */
    





    


    


}